[submodule "extern/titan"]
	path = extern/titan
	url = git@github.com:PaccMann/TITAN.git
[submodule "extern/pytoda"]
	path = extern/pytoda
	url = git@github.com:PaccMann/paccmann_datasets.git
[submodule "extern/anarci"]
	path = extern/anarci
	url = https://github.com/oxpig/ANARCI.git
